@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  border-bottom: 2px solid black;
}

.social-media-icon {
  cursor: pointer;
  transition: filter 300ms;
  filter: invert(67%) sepia(0%) saturate(0%) hue-rotate(227deg) brightness(100%)
    contrast(80%);
}

.social-media-icon:hover {
  filter: none;
}
