@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  border-bottom: 2px solid black;
}

.social-media-icon,
.skill {
  cursor: pointer;
  transition: filter 300ms;
  filter: grayscale(100%);
}

.social-media-icon:hover,
.skill:hover {
  filter: none;
}

.placeholder {
  background-image: linear-gradient(
    to right,
    #d0d1d3 0%,
    #c6c7c9 10%,
    #d0d1d3 20%,
    #d0d1d3 100%
  );
  background-size: 200% 100%;
  animation: bgPos 1s linear infinite;
}

@keyframes bgPos {
  0% {
    background-position: 50% 0%;
  }
  100% {
    background-position: -150% 0%;
  }
}

.hover-1 {
  background-image: linear-gradient(#00de91, #00de91);
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: 0.3s;
}
.hover-1:hover {
  background-size: 100% 100%;
}

.hover-1 .primary-svg path {
  transition: 0.3s;
}

.hover-1:hover .primary-svg path {
  fill: #ffffff;
}
